<div data-search-jobs-target="list">
  <p class="h3">

  <div>
    <p class="h3">
      <% if params[:query].blank? %>
        <h5><%= pluralize jobs.count, t("AvailableJobs")%></h5>
      <% else %>
        <%= pluralize jobs.count, "result" %> for <code><%= params[:query] %></code>
      <% end %>
    </p>
  </div>

    <div class="jobs mt-4 mb-4">
      <div class="row mt-4">
        <% @jobs.each do |job| %>
        <div class="col-lg-4 col-md-4 col d-flex justify-content-center">
          <div class="card-venues m-4 justify-content-center">
            <div class = "card-jobs">
              <% if job.photo.key != nil %>
                  <%= cl_image_tag job.photo.key, height: 300, width: 300, crop: :fill %>
                <% else %>
              <% end %>
                <div class="card-jobs-info mt-2 mb-2">
                  <h4><%= job.name.titleize %></h4>
                  <p><%= job.description.capitalize.truncate(100) %></p>
                  <p><%= job.city.titleize %></p>
                  <div class = "button_card">
                  <%= link_to t("moredetails"), job_path(job), class: "btn btn-success" %>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
