
  <div data-search-jobs-target="list">
    <p class="h3">

  <div>
      <p class="h3">
        <% if params[:query].blank? %>
          <h5><%= pluralize jobs.count, "job" %> available</h5>
        <% else %>
          <%= pluralize jobs.count, "result" %> for <code><%= params[:query] %></code>
        <% end %>
      </p>
    </div>

    <div class="jobs mt-4 mb-4">
        <% @jobs.each do |job| %>
        <h5><%= job.name.titleize %></h5>
         <p><%= job.description.titleize %></p>
        <p><%= job.city.titleize %></p>
        <%= link_to "More Details", job_path(job), class: "btn btn-success" %>
      <% end %>
    </div>


  </div>
