<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col-lg-6 col-md-6 justify-content-center">
      <div class="card-jobs">
        <% if @job.photo.key != nil %>
          <%= cl_image_tag @job.photo.key, crop: :fill %>
        <% else %>
        <% end %>
        <div class="card-jobs-info p-3">
          <div class="title p-2">
            <h4><%= @job.name.titleize%></h4>
          </div>
          <div class="row description p-2">
            <div class="col-3">
              <p class="detail"><strong><%= t('category') %></strong>
              <p class="detail"><strong><%= t("description") %></strong>
            </div>

            <div class="col-9">
              <span class="grey"> <%= @job.category %></span></p>
              <span class="grey"> <%= @job.description %></span></p>
            </div>

            <div class="col-3">
              <p class="detail"><strong><%= t("address") %></strong>
              <p class="detail"><strong><%= t("startdate") %></strong>
              <p class="detail"><strong><%= t("enddate") %></strong>
              <p class="detail"><strong><%= t("starttime") %></strong>
              <p class="detail"><strong><%= t("endtime")  %></strong>
              <p class="detail"><strong><%= t("qtyhour")  %></strong>
              <p class="detail"><strong><%= t("price")  %></strong>
            </div>

            <div class="col-9">
              <span class="grey"> <%= @job.address %>, <%= @job.city %> </span></p>
              <span class="grey"> <%= @job.start_date.strftime('%d/%m/%Y') %></span></p>
              <span class="grey"><%= @job.end_date.strftime('%d/%m/%Y') %></span></p>
              <span class="grey"><%= @job.start_time.strftime("%k:%M") %></span></p>
              <span class="grey"> <%= @job.end_time.strftime("%k:%M") %></span></p>
              <span class="grey"> <%= @job.qty_hour %> hr</span></p>
              <span class="grey"> <%= @job.price_per_hour %> USD</span></p>
            </div>

          </div>
          <% if user_signed_in? %>
            <% if current_user.id == @job.user_id %>
            <% else %>
              <div class="row">
                <div class="col-4">
                  <%= button_to "Apply here", job_my_jobs_path(@job), class:"btn btn-success" %>
                </div>
                <div class="col-3">
                 <%= link_to "Send message", chatroom_path(1, employer_id: @job.user_id), class:"btn btn-secondary" %>
                </div>
                <div class="col-5">
                  <%= link_to "Back", jobs_path, class:"btn btn-secondary" %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="map2 col-6">
        <div style="width: 100%; height: 750px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
  </div>
</div>
