<div class="container">
  <div class="row mt-3 mb-4">
    <div class="col">

    <% if @job.photo.key != nil %>
      <%= cl_image_tag @job.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
    <% end %>
      <h5><strong><%= @job.name.titleize%></strong></h5>
      <p><%= t("address") %>: <%= @job.address %></p>
      <p><%= t("city") %>: <%= @job.city %></p>
      <p><%= t('category')  %>: <%= @job.category %></p>
      <p><%= t("description")  %>: <%= @job.description %></p>
      <p><%= t("price")  %>:<%= @job.price_per_hour %> USD</p>
      <p><%= t("startdate") %>: <%= @job.start_date.strftime('%d/%m/%Y') %></p>
      <p><%= t("enddate") %>: <%= @job.end_date.strftime('%d/%m/%Y') %></p>
      <p><%= t("starttime") %>: <%= @job.start_time.strftime("%k:%M") %></p>
      <p><%= t("endtime")  %>: <%= @job.end_time.strftime("%k:%M") %></p>
      <p><%= t("qtyhour")  %>: <%= @job.qty_hour %> hr</p>


      <% if user_signed_in? %>
        <% if current_user.id == @job.user_id %>
        <% else %>
         <%= button_to "Apply here", job_my_jobs_path(@job), class: "btn btn-success" %>
          <%= link_to "Messages", chatroom_path(1, employer_id: @job.user_id), class:"btn btn-primary" %>
        <% end %>

      <% end %>
    </div>
  </div>

  <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
