<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col-lg-7 col-md-7 col d-flex justify-content-center">
      <div class="card-jobs">
        <% if @job.photo.key != nil %>
          <%= cl_image_tag @job.photo.key, crop: :fill %>
        <% else %>
        <% end %>
        <div class="card-jobs-info">
          <div class="title p-2">
            <h4><%= @job.name.titleize%></h4>
          </div>
          <div class="description p-2">
              <p><%= t('category')  %>: <%= @job.category %></p>
              <p><%= t("description")  %> <%= @job.description %></p>
              <p><%= t("address") %>: <%= @job.address %>, <%= @job.city %></p>
              <p><%= t("price")  %>: <%= @job.price_per_hour %> USD</p>
              <p><%= t("qtyhour")  %>: <%= @job.qty_hour %> hr</p>
              <p><%= t("startdate") %>: <%= @job.start_date.strftime('%d/%m/%Y') %>
              <%= t("enddate") %>: <%= @job.end_date.strftime('%d/%m/%Y') %></p>
              <p><%= t("starttime") %>: <%= @job.start_time.strftime("%k:%M") %>
              <%= t("endtime")  %>: <%= @job.end_time.strftime("%k:%M") %></p>
          </div>
          <% if user_signed_in? %>
            <% if current_user.id == @job.user_id %>
            <% else %>
              <div class="btn-group" role="group" aria-label="Group button">
              <%= button_to "Apply here", job_my_jobs_path(@job), class:"btn btn-success m-2" %></button>
              <%= link_to "Send message", chatroom_path(1, employer_id: @job.user_id), class:"btn btn-secondary m-2" %></button>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="map2 col-5">
        <div style="width: 100%; height: 750px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
  </div>
</div>
