<div class="container">
  <div class="row mt-3 mb-4">

      <h3><%= @user.nickname %></h3>
      <% if current_user.id == @user.id %>
      <% else %>
        <h4> <%= t("createnewreview") %> </h4>
        <%= simple_form_for([@user, @review]) do |f| %>
          <%= f.input :description, label: t("description") %>
          <%= f.input :rating_star, collection: (1..5).to_a, label: t("rateyourexperience"), input_html: {data: {controller: "star-rating"}} %>
          <%= f.button :submit, t("createreview"), class: "btn btn-primary" %>
        <% end %>
      <% end %>
      <div class = "cardreviewcolor mt-3">
        <h3><%= pluralize @user.reviews.size, t("review") %></h3>
      </div>
      <% if @user.reviews.blank? %>
        <% if current_user.id == @user.id %>
          <p><%= t("myreview") %></p>
          <p>You currently have no reviews</p>
        <% else %>
          <p><%=t("bethefirsttoleaveareview")  %> <%= @user.nickname %></p>
        <% end %>
      <% else %>

        <% @user_reviews.each do |review| %>
        <% rating = 5 - review.rating_star %>
        <div class = "cardreview mt-3">
          <div class="container ">
            <div class="row">


                <div class="star-rating">
                  <%="#{'★' * review.rating_star}#{'☆' * rating}"%>
                </div>
                <p> <%= review.created_at.strftime('%d/%m/%Y') %></p>
                <div class="col-10">
                  <div class= "mt-1">
                    <p><%= review.description%> </p>
                  </div>
                </div>
                <div class="col-1 mt-1 icon">
                  <i class=" fa-lg fa-solid fa-thumbs-up"></i>
                </div>
                <div class="col-1 mt-1 icon">
                 <i class="fa-lg fa-solid fa-thumbs-down"></i>
                </div>
              <%# <%= @date %>
              <%# <><%=review.created_at %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= link_to "Back to all users", users_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
