<div class="footer">

    <div class="col-3">
      <div class="footer-discover">
        <a href="#"><strong><p style="padding-bottom: 10px; margin: 0px; font-size: 16px";><%= t("helpandinformation") %></p></strong></a>
        <a href="#"><p style="padding: 0px; margin: 0px; font-size: 14px";><%= t("help") %></p></a>
        <a href="#"><p style="padding: 0px; margin: 0px; font-size: 14px";><%= t("lookforwork") %></p></a>
        <a href="#"><p style="padding: 0px; margin: 0px; font-size: 14px";><%= t("servicesbycity") %></p></a>
        <a href="#"><p style="padding: 0px; margin: 0px; font-size: 14px";><%= t("accountsetup") %></p></a>
      </div>
    </div>

      <div class="col-3">
        <div class="footer-about">
          <a href="#"><strong><p style="padding-bottom: 10px; margin: 0px; font-size: 16px";><%= t("aboutjobby") %></p></strong></a>
          <a href="#"><p style="padding: 0px; margin: 0px; font-size: 14px";><%= t("aboutus") %></p></a>
          <a href="#"><p style="padding: 0px; margin: 0px; font-size: 14px";><%= t("careersatjobby") %></p></a>
          <a href="#"><p style="padding: 0px; margin: 0px; font-size: 14px";><%= t("contactus") %></p></a>
          <a href="#"><p style="padding: 0px; margin: 0px; font-size: 14px";><%= t("blog") %></p></a>
        </div>
      </div>

      <div class="col-3">
        <div class="footer-more">
          <a href="#"><strong><p style="padding-bottom: 10px; margin: 0px; font-size: 16px";><%= t("morefromjobby") %></p></strong></a>
          <a href="#"><p style="padding: 0px; margin: 0px; font-size: 14px";><%= t("mobileandjobbyapps") %></p></a>
          <a href="#"><p style="padding: 0px; margin: 0px; font-size: 14px";><%= t("jobbyinlatam") %></p></a>
          <a href="#"><p style="padding: 0px; margin: 0px; font-size: 14px";><%= t("jobbyineurope") %></p></a>
        </div>
      </div>

      <div class="col-3">
        <div class="footer-links">
          <strong><p style="padding-bottom: 10px; margin: 0px; font-size: 16px";><%= t("followus") %></p></strong>
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>

</div>
