<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
     <%= image_tag "logo" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% end %>

    <li class="tdns">
      <div data-controller="search-jobs">
        <div class = "searchnav">
          <%= form_with url: jobs_path, method: :get, html: {class:
            "mb-4", data: {search_jobs_target: "form"}} do |f| %>
              <%= f.text_field :query,
                                class: "form-control",
                                placeholder:t("SearchForAJob"),
                                value: params[:query],
              data: {
                search_jobs_target: "input",
                action: "keyup->search-jobs#update"
                } %>
          <% end %>
        </div>
      <div>
    </li>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">


         <!--
          <li class="nav-item dropdown mt-2 globe">
            <%= image_tag "mundo", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, style: "width: 20px" %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= form_with(url: "/change_locale", method: "post", local: false, authenticity_token: true, remote: true) do |f| %>
                <%= f.select :locale, { "English" => "en", "Español" => "es" } %>
                <%= f.submit "Change language", button: false %>
              <% end %>
            </div>
          </li>
          -->
          <li>
            <%= link_to change_locale_path(locale: "es"), data: {turbo_method: :post} do %>
              <%= image_tag "espanol.png", :size=>"37x28", class: "me-3  mte" %>

            <% end %>
          </li>
          <li>
            <%= link_to change_locale_path(locale: "en"), data: {turbo_method: :post} do %>
              <%= image_tag "inglaterra1.png", :size=>"25x25", class: "me-3 mt-2" %>
            <% end %>

          </li>


        <% if user_signed_in? %>

          <li class="nav-item active">
            <%= link_to t("jobs"), jobs_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t("messages"), chatroom_path(1), class: "nav-link" %>
          </li>

          <li class="nav-item dropdown">
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to current_user.nickname, edit_user_path(current_user), class: "dropdown-item" %>
              <%= link_to t("myjobs"), my_jobs_path, class: "dropdown-item" %>
              <%= link_to t("calendar"), meetings_path, class: "dropdown-item"%>
              <%= link_to t("publishajobhere"), new_job_path, class: "dropdown-item"%>
              <%= link_to t("logout"), destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>

            </div>



        <% else %>
          <li class="nav-item">
            <%= link_to t("login"), new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>
