
<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col">
      <h2>My jobs Status</h2>
      <% if @my_jobs.size > 0 %>
      <hr>
        <h5>My Applied Jobs</h5>
        <% @my_jobs.each do |my_job| %>
          <p>Name: <%= my_job.job.name  %></p>
          <p>Description: <%= my_job.job.description  %></p>
          <p><%= my_job.status.capitalize  %></p>
          <p><%= button_to "Cancel Your Request", my_jobs_change_status_path(my_job, status: "pending"), class: "btn btn-success" %></p>

        <% end %>
      <% end %>

    </div>
  <div class="row">
    </div>
    <div class="col">
      <% if @my_published_jobs.size > 0 %>
      <hr>
        <h5>My Published Jobs</h5>
        <%  @my_published_jobs.each do |my_published_job| %>
          <p><%=my_published_job.name %></p>
          <%= link_to "More details", job_path(my_published_job), class: "btn btn-primary" %>
          <%= link_to "Edit", edit_job_path(my_published_job), class: "btn btn-secondary" %>
          <%= link_to "Cancel", job_path(my_published_job), class: "btn btn-warning", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>

          <p>Who Applied</p>
          <% my_published_job.my_jobs.each do |applicant| %>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nickname</th>
                  <th scope="col">Status</th>
                  <th scope="col">Accion</th>
                </tr>
              </thead>
              <% user =User.find(applicant.user_id) %>
              <tbody>
                <tr ">
                  <td><%= link_to user.nickname, user_path(user) %></td>
                  <td><%= applicant.status.capitalize %></td>
                  <% unless applicant.status == "accepted" ||  applicant.status == "rejected" %>
                  <td><%= button_to "Accept", my_jobs_change_status_path(applicant, status: "aceptar"), class: "btn btn-success" %> <%= button_to "Decline", my_jobs_change_status_path(applicant, status: "cancelar"),  class: "btn btn-warning" %> </td>
                  <% end %>
                </tr>
              </tbody>
              </table>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
