<div class="container">
  <div class="row">
    <div class="col">

      <h2>My jobs Status</h2>

      <% if @my_jobs.size > 0 %>
        <h5>My Applied Jobs</h5>
        <% @my_jobs.each do |my_job| %> duda
          <p>Name: <%= my_job.job.name  %></p>
          <p>Description: <%= my_job.job.description  %></p>

          <p><%= my_job.status  %></p>

        <% end %>
      <% end %>
    <hr>
    </div>
    <div class="col">
      <% if @my_published_jobs.size > 0 %>
        <h5>My Published Jobs</h5>

        <%  @my_published_jobs.each do |my_published_job| %>
          <p><%=my_published_job.name %></p>
          <p>Personas que han aplicado a este trabajo</p>

          <% my_published_job.my_jobs.each do |applicant| %>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nickname</th>
                <th scope="col">Status</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <% user =User.find(applicant.user_id) %>
            <tbody>
              <tr>

                <td><%= user.nickname %></td>
                <td><%= applicant.status %></td>
                <td><%= button_to "Aceptar", class: "btn btn-success" %> <%= button_to "Negar",  class: "btn btn-warning" %></td>
              </tr>
            </tbody>




          <% end %>
        <% end %>
      <% end %>
      </table>
    </div>
  </div>
</div>
