
<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col">
      <h2><%= t("myjobsstatus") %></h2>
      <% if @my_jobs.size > 0 %>
      <hr>
        <h5><%= t("myappliedjobs") %></h5>
        <% @my_jobs.each do |my_job| %>
          <p><%= t("name")%>: <%= my_job.job.name  %></p>
          <p><%= t("startdate") %>: <%= my_job.job.start_date.strftime('%d/%m/%Y')  %></p>
          <p>Description: <%= my_job.job.description  %></p>
          <p><%= my_job.status.capitalize  %></p>
          <p><%= button_to t("cancelyourequest"), my_jobs_change_status_path(my_job, status: "pending"), class: "btn btn-success" %></p>

        <% end %>
      <% end %>

    </div>
  <div class="row">
    </div>
    <div class="col">
      <% if @my_published_jobs.size > 0 %>
      <hr>
        <h5><%= t("mypublishedjobs") %></h5>
        <%  @my_published_jobs.each do |my_published_job| %>

          <p><%=my_published_job.name %></p>
          <p><%= t("startdate") %>: <%= my_published_job.start_date.strftime('%d/%m/%Y')  %></p>


          <%= link_to t("moredetails"), job_path(my_published_job), class: "btn btn-primary" %>
          <%= link_to t("edit"), edit_job_path(my_published_job), class: "btn btn-secondary" %>
          <%= link_to t("cancel"), job_path(my_published_job), class: "btn btn-warning", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>

          <p><strong><%= t("whoapplied") %></strong></p>
          <% my_published_job.my_jobs.each do |applicant| %>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"><%= t("nickname") %></th>
                  <th scope="col"><%= t("rating") %></th>
                  <th scope="col"><%= t("status") %></th>
                  <th scope="col"><%= t("accion") %></th>
                </tr>
              </thead>
              <% user =User.find(applicant.user_id) %>

              <tbody>
                <tr ">
                  <td><%= user.nickname%></td>
                  <% case %>
                  <% when user.rating <2 %>
                    <td><i><%=link_to "★☆☆☆☆", user_path(user), class:"fa-solid fa-starer-e"%></i></td>
                  <% when user.rating <3 %>
                    <td><i><%=link_to "★★☆☆☆", user_path(user), class:"fa-solid fa-starer-e"%></i></td>
                  <% when user.rating <4 %>
                  <td><i><%=link_to "★★★☆☆", user_path(user), class:"fa-solid fa-starer-e"%></i></td>
                  <% when user.rating <5 %>
                    <td><i><%=link_to "★★★★☆", user_path(user), class:"fa-solid fa-starer-e"%></i></td>
                  <% else %>
                    <td><i><%=link_to "★★★★★", user_path(user), class:"fa-solid fa-starer-e"%></i></td>
                  <% end %>
                  <td><%= applicant.status.capitalize %></td>
                  <% unless applicant.status == "accepted" ||  applicant.status == "rejected" %>
                  <td><%= button_to t("accept"), my_jobs_change_status_path(applicant, status: "aceptar"), class: "btn btn-success" %> <%= button_to t("decline"), my_jobs_change_status_path(applicant, status: "cancelar"),  class: "btn btn-warning" %> </td>
                  <% end %>
                </tr>
              </tbody>
              </table>
          <% end %>
          <hr>
        <% end %>
      <% end %>
      <%= link_to t("calendar"), meetings_path, class: "btn btn-success"%>
    </div>
  </div>
</div>
