<!DOCTYPE html>
<html>
  <head>
    <title>Jobby</title>

  </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/png" sizes="32x32" href="app/assets/images/logo.png">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <header>
    <%= render "shared/navbar" %>
    <div class="margintop"></div>
  </header>

  <body>
    <div class= "contenedor">
      <%= render "shared/flashes" %>
      <%= yield %>
    </div>
  </body>

  <footer>
   <%= render "shared/footer" %>
  </footer>
</html>
